OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small
BOOK_PATH=/Users/dbondarev/Library/CloudStorage/OneDrive-Personal/dbondarev workspace/Books/Byeyili_K._Moyi_Produktivnyiyi_God_K.txt
PORT=5020
CHUNK_SIZE=800
CHUNK_OVERLAP=120
STRUCT_MAX_CHUNK=1200
